@tailwind base;
@tailwind components;
@tailwind utilities;

.cormorant-garamond {
	font-family: "Cormorant Garamond", serif;
	font-weight: 500;
	font-style: normal;
  }

  .cormorant-garamond-bold {
	font-family: "Cormorant Garamond", serif;
	font-weight: 800;
	font-style: normal;
  }


